.input__iconWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input__iconWrapper {
    margin: 0px;
    width: 100%;
}

.input__iconWrapper input,
.input__iconWrapper select
{
    padding-left: 40px;
}

.input__iconWrapper input + i,
.input__iconWrapper select + i
{
    transition: color .15s ease-in-out;
}

.input__iconWrapper input:focus + i,
.input__iconWrapper select:focus + i
{
    color: #17a2b8;
}

.input__iconWrapper i {
    position: absolute;
    left: 15px;
    opacity: 0.7;
}