/* Img container */
.imgContainer {
    width: 80px;
}

.imgContainer > div {
    height: 80px;
    width: 80px;
}

.imgContainer > div
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

/* Product section */
.product__section {
    background: white;
    border-radius: 10px;
    border: 1px solid #eceff1;
}

.product__section {
    transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease, background 0.2s ease;
    transform: translateY(0px);
}

.product__section:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}